{% extends "main/base.html" %}

{% block title %}
    MovieREC
{% endblock %}

{% block section %}
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-12 mx-auto">
                <small>сайт в процессе разработки.</small>

              <h1 class="text-white mt-2 mb-3 pb-1">
                    MovieREC – это сервис для подбора фильмов
                </h1>
                 <div>
                     <a href="" class="custom-btn custom-border-btn btn" data-bs-toggle="modal" data-bs-target="#subscribeModal"><b>Подписаться на рассылку</b>
                        <i class="bi-arrow-right ms-2"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="modal fade" id="subscribeModal" tabindex="-1" aria-labelledby="subscribeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form action="#" method="get" class="custom-form mt-lg-4 mt-2" role="form">
                        <h2 class="modal-title" id="subscribeModalLabel">Будь в курсе новых фильмов!</h2>

                        <input type="email" name="email" id="email" pattern="[^ @]*@[^ @]*" class="form-control" placeholder="your@email.com" required="">

                        <button type="submit" class="form-control">Подписаться</button>
                    </form>
                </div>

                <div class="modal-footer justify-content-center">
                    <p>Подписываясь, вы соглашаетесь с нашим Соглашением о конфиденциальности.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}





