{% extends 'users/profile_base.html' %}

{% block title %}MovieREC | Фильмы{% endblock %}

{% block header-sort %}
    <li class="breadcrumb-item">
    <a class="site-header-text d-flex justify-content-center align-items-center me-auto" href="{% url 'movies' %}">Фильмы</a>
    </li>
    {% include 'users/search.html' %}
    <label>
        <select style="margin-left: 200%; width: auto" name="sort" class="form-control" hx-get="/movies/" hx-target="#target-list-change">
            {% for key, value in sorting_choices.items %}
                <option value="{{ value }}">{{ key|title }}</option>
            {% endfor %}
        </select>
    </label>

{% endblock %}
{% block content %}
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" id="target-list-change">
        {% include 'movies/snippet/list.html' with object_list=object_list %}
    </div>
{% endblock %}

