{% extends 'users/profile_base.html' %}
{% block title %}MovieREC | Профиль {{ user.username }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="https://upload.wikimedia.org/wikipedia/commons/2/2c/Default_pfp.svg" alt="avatar"
               style="width: 150px;">
            <h5 class="my-3">{{ user.username }}</h5>
              <form action="{% url 'logout' %}" method="post" class="my-3">
                {% csrf_token %}
                  <button type="submit" class="btn btn-outline-danger"><small>Выйти из аккаунта</small></button>
            </form>
            <a href="{% url 'movies' %}" class="custom-btn">Поиск фильмов</a>
            <a href="{% url 'ratings' %}" class="btn custom-btn custom-border-btn bg-secondary">Мои оценки</a>
          </div>
        </div>
          <div class="card mb-4 mb-lg-0" style="width: 415px; height: 415px">
            <div class="card-body p-0">
                <div>
                    <canvas id="radarChart"></canvas>
                </div>
                <script>
                    const ctxR = document.getElementById("radarChart").getContext('2d');
                    const myRadarChart = new Chart(ctxR, {
                      type: 'radar',
                      data: {
                        labels: ["1", "2", "3", "4", "5"],
                        datasets: [{
                          label: "Количество оценок",
                          data: {{ ratings_list_count }},
                          backgroundColor: [
                            'rgba(224, 122, 95, .3)',
                          ],
                          borderColor: [
                            'rgba(224, 122, 95, .7)',
                          ],
                          borderWidth: 2
                        },
                        ]
                      },
                      options: {
                        responsive: true
                      }
                    });
                </script>
            </div>
        </div>
        </div>

        <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
              <h4>Ваши рекомендации:
              <a class="custom-btn" style="margin-left: 375px; margin-top: 10px" href="#" onclick="reloadClear();">Обновить</a>
              <script>
                function reloadClear() {
                  window.localStorage.clear();
                  window.location.reload(true);
                  return false;
                }
              </script></h4>

                 <div class="d-flex flex-column overflow-auto mt-2" style="max-height: 688px;">
                      {% include 'movies/snippet/list.html' with object_list=object_list %}
                 </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
